{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="actions">
  <form action="{{ url_for("capture") }}" method="POST">
    <button id="capture">CAPTURE</button>
  </form>
</div>

{% block replay %}
{% endblock %}

<section>
  <h2>Past Replays</h2>

  {% if past_replays | length > 0 %}
    <div class="replays-table">
      <div class="replays-header">
        <div class="replay-info">Date / Name</div>
        <div class="replay-actions">Actions</div>
      </div>
      {% for pr in past_replays %}
        {% if replay and replay == pr %}
        <div class="replay-row selected">
          <a href="{{ url_for('replay', replay=pr) }}" class="replay-link">
            <div class="replay-info">
              <div class="replay-date">{{ pr.split('.')[0] | format_datetime }}</div>
              <div class="replay-name">{{ (pr | get_replay_name) or '' }}</div>
            </div>
            <div class="replay-actions">
              <form
                id="delete-replay"
                action="{{ url_for("delete_replay") }}"
                method="POST"
                onSubmit="event.stopPropagation(); return confirm('Do you want to delete this replay forever?');">
                <button name="{{ delete_field }}" value="{{ replay }}" class="icon-button" title="Delete">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="1em" height="1em">
                    <path fill="currentColor" d="M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12zM432 80h-82.41l-34-56.7A48 48 0 0 0 274.41 0H173.59a48 48 0 0 0-41.16 23.3L98.41 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0-16-16zM171.84 50.91A6 6 0 0 1 177 48h94a6 6 0 0 1 5.15 2.91L293.61 80H154.39zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12z"/>
                  </svg>
                </button>
              </form>
              <form id="rename-form" action="{{ url_for('rename_replay') }}" method="post" onSubmit="event.stopPropagation();">
                <input type="hidden" name="{{ delete_field }}" value="{{ replay }}">
                <input type="hidden" id="new-name" name="{{ rename_field }}" value="">
                <button type="button" onclick="event.stopPropagation(); inputNewNameAndSubmit(event)" class="icon-button" title="Rename">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="1em" height="1em">
                    <path fill="currentColor" d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z"/>
                  </svg>
                </button>
              </form>
            </div>
          </a>
        </div>
        {% else %}
        <div class="replay-row">
          <a href="{{ url_for('replay', replay=pr) }}" class="replay-link">
            <div class="replay-info">
              <div class="replay-date">{{ pr.split('.')[0] | format_datetime }}</div>
              <div class="replay-name">{{ (pr | get_replay_name) or '' }}</div>
            </div>
            <div class="replay-actions">
              <button class="icon-button" title="Play">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em">
                  <path fill="currentColor" d="M371.7 238l-176-107c-15.8-8.8-35.7 2.5-35.7 21v208c0 18.4 19.8 29.8 35.7 21l176-101c16.4-9.1 16.4-32.8 0-42zM504 256C504 119 393 8 256 8S8 119 8 256s111 248 248 248 248-111 248-248zm-448 0c0-110.5 89.5-200 200-200s200 89.5 200 200-89.5 200-200 200S56 366.5 56 256z"/>
                </svg>
              </button>
            </div>
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <form
      id="delete-all-replays"
      action="{{ url_for("delete_all_replays") }}"
      method="POST"
      onSubmit="return confirm('Do you want to delete every single replay forever?');">
      <button>delete all replays</button>
    </form>
  {% else %}
    <p>No past replay...</p>
  {% endif %}
</section>

<script>
function inputNewNameAndSubmit(event) {
    event.preventDefault();
    const newName = prompt("New replay name:");
    
    if (newName !== null && newName.trim() !== '') {
        const form = document.getElementById("rename-form");
        const newNameInput = document.getElementById("new-name");
        newNameInput.value = newName.trim();
        form.submit();
    }
}
</script>

<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/all.min.css') }}">
{% endblock %}
